p {
  max-width: 400px;
}

.big {
  width: 600px;
  height: 190px;
  border: 1px solid #999;
  padding: 5px;
}

.score-span {
  font-weight: 200;
  padding-right: 10px;
}
.ordinal {
  top: -0.1em;
}
.apostrophe {
  font-weight: bolder;
}
