p {
  max-width: 400px;
}

.big {
  width: 600px;
  height: 190px;
  border: 1px solid #999;
  padding: 5px;
}

.score-span {
  font-weight: 200;
  padding-right: 10px;
}
.ordinal {
  top: -0.1em;
}
.apostrophe {
  font-weight: bolder;
}

.nav-sign {
  margin-right: 8%;
  margin-top: 13px;
}
.username-span {
  font-size: 2em;
}
.signout-span {
  position: relative;
  bottom: 5px;
  color: #76a7cf;
}
.signin-span {
  color: #a80d18;
}
.signin-component {
  text-align: center;
  padding: 5%;
}
