<h1>About Us</h1>

<p>
  We're a group dedicated to the principle of getting other people to do our work for us. I mean, why read books or learn concepts when you can just copy and paste amiright?
</p>
<p>
  Why would anybody take the time to answer these questions you ask? Well first, remember who you're dealing with, we GET answers, we don't give them. But srsly, who knows. I'd say the nerds feel sorry for us but I honeslty think they're just knowitalls that can't help themselves. 
</p>
