<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
  </ul>
</nav>

<div class="container">
  <header class="jumbotron">
    <h1>Question Board</h1>
    <h5>overflowing with slackers since 2016</h5>
  </header>
  {{outlet}}
</div>
